/* Georgia Bold
Leelawadee UI Bold

Microsoft Tai Le*/



:root {
    --white: #ffffff;
    --black: #0000;


    --dark-blue: #071E3D;
    --blue: #1F4287;
    --turquesa: #278EA5;
    --green: #21E6C1;

    
    --error: #ff0000;    
    font-size: 16px;
}


* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
